<div class="flex">
    <h1>All workshops:</h1>
<table>
    <tr>
        <td style="font-size: large; font-weight: bold; padding: 10px 0;">Name: </td>
        <td>
            <mat-form-field class="inputMat">
                <mat-label>Name</mat-label>
                <input matInput="" type="text" name="name" [(ngModel)]="name">

            </mat-form-field>
            
        </td>
        <td style="font-size: large; font-weight: bold; padding: 10px 0;">Place: </td>
        <td>
            <mat-form-field class="inputMat">
                <mat-label>Place</mat-label>
                <input matInput="" type="text" name="place" [(ngModel)]="place">

            </mat-form-field>
           
        </td>
        <td>
            <button class="button-36" (click)="search()">Search</button>
        </td>
    </tr>
    <tr>
        <td>
            <button class="button-36" (click)="sortByName()">Sort by name</button>
        </td>
        <td>
            <button class="button-36"  (click)="sortByDate()">Sort by date</button>
        </td>
    </tr>
</table>
<table>
    
    <tr>
        <td>
            Workshop Image
        </td>
        <td>
            Workshop Name 
        </td>
        <td>
            Workshop Date
        </td>
        <td>
            Workshop Place
        </td>
        <td>
            Workshop Desc
        </td>
    </tr>
    <tr *ngFor="let workshop of workshops">
        <td>
            <img src="http://localhost:4000/{{workshop.workshopImage.slice(7)}}" onerror='this.src="http://localhost:4000/workshop.webp"'  width="50" height="50">
        </td>
        <td>
            {{workshop.workshopName}}  
        </td>
        <td>
           {{workshop.workshopDate}} 
        </td>
        <td>
            {{workshop.workshopPlace}} 
        </td>
        <td>
            {{workshop.workshopDesc}} 
        </td>
    </tr>
</table>
<h1>Top 5 Workshops:</h1>
<table>
    <tr>
        
        <td>
            Workshop Image
        </td>
        <td>
            Workshop Name 
        </td>
        <td>
            Workshop Date
        </td>
        <td>
            Workshop Place
        </td>
        <td>
            Workshop Desc
        </td>
    </tr>
    <tr *ngFor="let workshop of workshops_top_5">
        <td>
            <img src="http://localhost:4000/{{workshop.workshopImage.slice(7)}}" onerror='this.src="http://localhost:4000/workshop.webp"' width="50" height="50">
        </td>
        <td>
            {{workshop.workshopName}}  
        </td>
        <td>
           {{workshop.workshopDate}} 
        </td>
        <td>
            {{workshop.workshopPlace}} 
        </td>
        <td>
            {{workshop.workshopDesc}} 
        </td>
    </tr>
</table>
Back to <a href="">login</a> <br>

</div>
