<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <table>
            <tr>
                <button routerLink="/user-info">Profile</button>
            </tr>
            <tr>
                <button routerLink="/user-workshops">Workshops</button>
            </tr>
            <tr>
                <button routerLink="/become-organizer">Become organizer</button>
            </tr>
            <tr *ngIf="user_type == 2">
                <button routerLink="/edit-users">All users</button>
           </tr>
           <tr *ngIf="user_type == 2">
                <button routerLink="/registration-requests">Registration requests</button>
            </tr>
            <tr *ngIf="user_type==2">
                <button routerLink="/insert-new-user">Add new user</button>
            </tr>
            <tr *ngIf="user_type==2">
                <button routerLink="/workshop-aprove">Aprove workshops</button>
            </tr>
           

        </table>
        
            <form>
                <button (click)="changePass()">Change password</button>
            </form>
        
            <form>
                <button (click)="logout()">Logout</button>
            </form>
        


    </mat-sidenav>
    <mat-sidenav-content>
        <table>
            <tr *ngFor="let user of users;let userIndex = index;">
                <table>
                    <tr>
                        <td>
                            Username:
                        </td>
                        <td>
                            {{user.username}}
                        </td>
                        <td>
                            <button (click)="acceptRegister(user)">Accept registration</button>
                        </td>
                        
                    </tr>

                </table>
            </tr>
        </table>
    </mat-sidenav-content>

