<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <p>
            <button routerLink="/user-info">Profile</button>
        </p>
        <p>
            <button routerLink="/user-workshops">Workshops</button>
        </p>
        <p>
            <button routerLink="/become-organizer">Become organizer</button>
        </p>

    </mat-sidenav>
    <mat-sidenav-content>
        <h1>Applied workshops:</h1>
<table>
    <tr *ngFor="let workshop of appliedWorkshops">
        <td>
            {{workshop.workshopName}}
        </td>
        <td *ngIf="twelveHoursLeft(workshop) == 1">
            <button (click)="cancel(workshop)">Cancel</button>
        </td>
    </tr>
</table>
<h1>All workshops:</h1>
<table>
    <tr>
        <td>Name: </td>
        <td>
            <input type="text" name="name" [(ngModel)]="name">
        </td>
        <td>Place: </td>
        <td>
            <input type="text" name="place" [(ngModel)]="place">
        </td>
        <td>
            <button (click)="search()">Search</button>
        </td>
    </tr>
    <tr>
        <td>
            <button (click)="sortByName()">Sort by name</button>
        </td>
        <td>
            <button (click)="sortByDate()">Sort by date</button>
        </td>
    </tr>
</table>
<table>
    
    <tr>
        <td>
            Workshop Image
        </td>
        <td>
            Workshop Name 
        </td>
        <td>
            Workshop Date
        </td>
        <td>
            Workshop Place
        </td>
        <td>
            Workshop Desc
        </td>
        <td>
            More info
        </td>
    </tr>
    <tr *ngFor="let workshop of workshops">
        <td>
            <img src="http://localhost:4000/{{workshop.workshopImage}}" onerror='this.src="http://localhost:4000/workshop.webp"'  width="50" height="50">
        </td>
        <td>
            {{workshop.workshopName}}  
        </td>
        <td>
           {{workshop.workshopDate}} 
        </td>
        <td>
            {{workshop.workshopPlace}} 
        </td>
        <td>
            {{workshop.workshopDesc}} 
        </td>
        <td>
            <button (click)="moreInfo(workshop)">More info</button>
        </td>
        <td *ngIf="workshop.organizatorUsername == username">
            <button (click)="editWorkshop(workshop)">Edit workshop</button>
        </td>
        <td *ngIf="workshop.organizatorUsername == username">
            <button (click)="saveWorkshopAsJSON(workshop)">Save as JSON</button>
        </td>
        
    </tr>
</table>
<footer>
    <form>
        <button (click)="changePass()">Change password</button>
    </form>
    <form>
        <button (click)="logout()">Logout</button>
    </form>
</footer>
    </mat-sidenav-content>
  </mat-sidenav-container>


<!-- <h1>Applied workshops:</h1>
<table>
    <tr *ngFor="let workshop of appliedWorkshops">
        <td>
            {{workshop.workshopName}}
        </td>
        <td *ngIf="twelveHoursLeft(workshop) == 1">
            <button (click)="cancel(workshop)">Cancel</button>
        </td>
    </tr>
</table>
<h1>All workshops:</h1>
<table>
    <tr>
        <td>Name: </td>
        <td>
            <input type="text" name="name" [(ngModel)]="name">
        </td>
        <td>Place: </td>
        <td>
            <input type="text" name="place" [(ngModel)]="place">
        </td>
        <td>
            <button (click)="search()">Search</button>
        </td>
    </tr>
    <tr>
        <td>
            <button (click)="sortByName()">Sort by name</button>
        </td>
        <td>
            <button (click)="sortByDate()">Sort by date</button>
        </td>
    </tr>
</table>
<table>
    
    <tr>
        <td>
            Workshop Image
        </td>
        <td>
            Workshop Name 
        </td>
        <td>
            Workshop Date
        </td>
        <td>
            Workshop Place
        </td>
        <td>
            Workshop Desc
        </td>
        <td>
            More info
        </td>
    </tr>
    <tr *ngFor="let workshop of workshops">
        <td>
            <img src="http://localhost:4000/{{workshop.workshopImage}}" onerror='this.src="http://localhost:4000/workshop.webp"'  width="50" height="50">
        </td>
        <td>
            {{workshop.workshopName}}  
        </td>
        <td>
           {{workshop.workshopDate}} 
        </td>
        <td>
            {{workshop.workshopPlace}} 
        </td>
        <td>
            {{workshop.workshopDesc}} 
        </td>
        <td>
            <button (click)="moreInfo(workshop)">More info</button>
        </td>
        
    </tr>
</table> -->
