<div class="flex">
    <form>
        <table>
            <tr>
                <td style="font-size: x-large; font-weight: bold;">
                    Email:
                </td>
                <td>
                    <mat-form-field class="inputMat">
                        <mat-label>Email</mat-label>
                        <input matInput="" type="text" name="email" [(ngModel)]="email">
    
                    </mat-form-field>
                    
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button class="button-36" (click)="sendRecoveryMail()">Submit</button>
                </td>
            </tr>
            <tr>
                <hr>
            </tr>
            <tr>
                <td colspan="2">
                    Loginuj se <a href="">ovde</a> <br>
                </td>
            </tr>
        </table>
    
    </form>
    <p style="font-size: x-large; color: red;">
        {{message}}
    </p>
</div>
