<form>
    <table>
        <tr>
            <td>
                Email:
            </td>
            <td>
                <input type="text" name="email" [(ngModel)]="email">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button (click)="sendRecoveryMail()">Submit</button>
            </td>
        </tr>
        <tr>
            <hr>
        </tr>
        <tr>
            <td colspan="2">
                Loginuj se <a href="">ovde</a> <br>
            </td>
        </tr>
    </table>

</form>