<form>
    <table>
        <tr>
            <td>
                Old passoword:
            </td>
            <td>
                <input type="text" name="old_password" [(ngModel)]="old_password">
            </td>
        </tr>
        <tr>
            <td>
                New password: 
            </td>
            <td>
                <input type="text" name="new_password" [(ngModel)]="new_password">
            </td>
        </tr>
        <tr>
            <td>
                Repeat new password: 
            </td>
            <td>
                <input type="text" name="repeat_password" [(ngModel)]="repeat_password">
            </td>
        </tr>
        
        <tr>
            <td colspan="2">
                <button (click)="changePassword()">Submit</button>
            </td>
        </tr>
        <hr>
        <tr>
            <td colspan="2">
                <a href="user">Back</a> <br>
            </td>
        </tr>
    </table>
</form>
{{errMsg}}
<br>
{{response}}
