<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <table>
            <tr>
                <button routerLink="/user-info">Profile</button>
            </tr>
            <tr>
                <button routerLink="/user-workshops">Workshops</button>
            </tr>
            <tr>
                <button routerLink="/become-organizer">Become organizer</button>
            </tr>
            <tr *ngIf="user_type == 2">
                <button routerLink="/edit-users">All users</button>
           </tr>
           <tr *ngIf="user_type == 2">
                <button routerLink="/registration-requests">Registration requests</button>
            </tr>
            <tr *ngIf="user_type==2">
                <button routerLink="/insert-new-user">Add new user</button>
            </tr>
            <tr *ngIf="user_type==2">
                <button routerLink="/workshop-aprove">Aprove workshops</button>
            </tr>
           

        </table>
        
            <form>
                <button (click)="changePass()">Change password</button>
            </form>
        
            <form>
                <button (click)="logout()">Logout</button>
            </form>
        


    </mat-sidenav>
    <mat-sidenav-content>
        <table>
            <tr>
                <td>
                    Picture:
                </td>
                <td *ngIf="user_type != 0">
                    <img src="http://localhost:4000/{{imageToUploadJSON}}" onerror='this.src="http://localhost:4000/workshop.webp"' width="50" height="50">
                </td>
                <td>
                    <input name="main_picture" type="file" (change)="uploadImage($any($event).target.files)">
                </td>
            </tr>
            <tr>
                <td>
                    Name:
                </td>
                <td>
                    <input type="text" name="name_of_work" [(ngModel)]="name_of_work">
                </td>
            </tr>
            <tr>
                <td>
                    Place:
                </td>
                <td>
                    <input type="text" name="place" [(ngModel)]="place">
                </td>
            </tr>
            <tr>
                <td>
                    Coordinates(optional):
                </td>
                <td>
                  <table>
                    <tr>
                        <td>
                            Lat:
                        </td>
                        <td>
                            <input type="text" name="latitude" [(ngModel)]="latitude">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Long:
                        </td>
                        <td>
                            <input type="text" name="longtitude" [(ngModel)]="longtitude">
                        </td>
                    </tr>
                  </table>  
                </td>
            </tr>
            <tr>
                <td>
                    Date:
                </td>
                <td>
                    <input type="date" name="date" [(ngModel)]="date">
                </td>
            </tr>
            <tr>
                <td>
                    Number of spaces:
                </td>
                <td>
                    <input type="text" name="numOfSpaces" [(ngModel)]="numOfSpaces">
                </td>
            </tr>
            <tr>
                <td>
                    Short description:
                </td>
                <td>
                    <input type="text" name="shortDesc" [(ngModel)]="shortDesc">
                </td>
            </tr>
            <tr>
                <td>
                    Long description:
                </td>
                <td>
                    <input type="text" name="longDesc" [(ngModel)]="longDesc">
                </td>
            </tr>
            <tr>
                <td>
                    Gallery pics:
                </td>
                <td>
                    <input name="gallery_pics" type="file" (change)="uploadImages($any($event).target.files)" multiple>
                </td>
            </tr>
            <div *ngIf="user_type != 0">
                <tr *ngFor="let galleryPic of galleryImagesToUploadJSON; let galleryIndex = index;">
                    <td>
                        <img src="http://localhost:4000/{{galleryPic}}" onerror='this.src="http://localhost:4000/workshop.webp"' width="50" height="50">
                    </td>
                    <td>
                        <button (click)="removeGalleryPic(galleryIndex)">Remove</button>
                    </td>
                </tr>
            </div>
            <tr *ngIf="user_type != 0">
                <td>
                    Use JSON template:
                </td>
                <td>
                    <input name="json_file" type="file" (change)="loadJSON($event)">
                </td>
            </tr>
            <tr *ngIf="user_type != 0">
                <td colspan="2">
                    <button (click)="parseJSON()">Load template</button>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button (click)="sendWorkshopRequest()">Submit</button>
                </td>
            </tr>
            
        </table>

    </mat-sidenav-content>
  </mat-sidenav-container>


